.idea
/personal
/zsh/.profile
/bin/.local/bin/lib/
/bin/.local/bin/zig
bin/.local/bin/__pycache__/
bin/.local/bin/estimator_ckpt_converter
bin/.local/bin/get_objgraph
bin/.local/bin/google-oauthlib-tool
bin/.local/bin/import_pb_to_tensorboard
bin/.local/bin/markdown_py
bin/.local/bin/nltk
bin/.local/bin/pint-convert
bin/.local/bin/pip
bin/.local/bin/pip3
bin/.local/bin/pip3.10
bin/.local/bin/pip3.8
bin/.local/bin/plac_runner.py
bin/.local/bin/pylsp
bin/.local/bin/saved_model_cli
bin/.local/bin/spacy
bin/.local/bin/spin
bin/.local/bin/tensorboard
bin/.local/bin/tf_upgrade_v2
bin/.local/bin/tfds
bin/.local/bin/tflite_convert
bin/.local/bin/toco
bin/.local/bin/toco_from_protos
bin/.local/bin/tqdm
bin/.local/bin/undill
bin/.local/bin/wheel
bin/.local/bin/ldtk
